Repository sse-labs/fachproject-metrics-framework, pull requests merged in 2022-01, with the labels that each got.

#43 Metric/number of children
  src/main/scala/impl/group1/NumberOfChildrenAnalysis.scala
  src/test/resources/group1/sejda-model-4.0.15.jar
  src/test/scala/impl/group1/NumberOfChildrenAnalysisTest.scala
Labels: enhancement, Group 1, Group 2

#39 Metric NumberOfFunctions
  src/main/scala/impl/group2/NumberOfFunctionsAnalysis.scala
  src/test/scala/impl/group2/NumberOfFunctionsAnalysisTest.scala
Labels: enhancement, Group 2, Group 3

#38 Metric CREF
  src/main/scala/impl/group2/ClassesReferencedAnalysis.scala
  src/test/resources/group2/cref.jar
  src/test/scala/impl/group2/ClassesReferencedAnalysisTest.scala
Labels: enhancement, Group 2, Group 3

#44 Metric/lcom
  src/main/scala/impl/group2/LackOfCohesionInMethodsAnalysis.scala
  src/test/resources/group2/LCOM_Test1.jar
  src/test/scala/impl/group2/LackOfCohesionInMethodsAnalysisTest.scala
Labels: enhancement, Group 2, Group 3

#37 Metrics FanOut and AVGFanOut
  src/main/scala/impl/group2/AVGFanOutAnalysis.scala
  src/main/scala/impl/group2/FanOutAnalysis.scala
  src/test/resources/group2/fanout.jar
  src/test/scala/impl/group2/AVGFanOutAnalysisTest.scala
  src/test/scala/impl/group2/FanOutAnalysisTest.scala
Labels: enhancement, Group 2, Group 3

#45 Metrics FanIn and AVGFanIn
  src/main/scala/impl/group2/AVGFanInAnalysis.scala
  src/main/scala/impl/group2/FanInAnalysis.scala
  src/test/resources/group2/fanin/A.java
  src/test/resources/group2/fanin/B.java
  src/test/resources/group2/fanin/Empty.java
  src/test/resources/group2/fanin/Main.java
  src/test/resources/group2/fanin/fanin.jar
  src/test/scala/impl/group2/AVGFanInAnalysisTest.scala
  src/test/scala/impl/group2/FanInAnalysisTest.scala
Labels: enhancement, Group 2, Group 3

#42 Feature/#vref
  src/main/scala/impl/group5/vrefAnalysis.scala
  src/test/resources/group5/vref-1.0-SNAPSHOT.jar
  src/test/resources/group5/vreftestjarcode.zip
  src/test/scala/impl/group5/VrefAnalysisTest.scala
Labels: enhancement, Group 5

#59 Metric CBO - Merge Request
  src/main/scala/impl/demo/DefaultSingleFileAnalysisApplication.scala
  src/main/scala/impl/group3/CBOAnalysis.scala
  src/test/resources/demo/Animal.jar
  src/test/scala/testCBO/CBOAnalysisTest.scala
Labels: Group 3, Group 4

#56 Ext stability
  src/main/scala/impl/group1/ExternalStabilityAnalysis.scala
  src/main/scala/impl/group1/ExternalStabilityApplication.scala
  src/test/resources/group1/commons-collections/00-commons-collections-1.0.jar
  src/test/resources/group1/commons-collections/01-commons-collections-2.0.jar
  src/test/resources/group1/commons-collections/02-commons-collections-2.0.20020914.015953.jar
  src/test/resources/group1/commons-collections/03-commons-collections-2.0.20020914.020746.jar
  src/test/resources/group1/commons-collections/04-commons-collections-2.0.20020914.020858.jar
  src/test/resources/group1/commons-collections/05-commons-collections-2.1.jar
  src/test/resources/group1/commons-collections/06-commons-collections-2.1.1.jar
  src/test/resources/group1/commons-collections/07-commons-collections-3.0.jar
  src/test/resources/group1/commons-collections/08-commons-collections-3.1.jar
  src/test/resources/group1/commons-collections/09-commons-collections-3.2.jar
  src/test/resources/group1/commons-collections/10-commons-collections-3.2.1.jar
  src/test/resources/group1/commons-collections/11-commons-collections-3.2.2.jar
  src/test/scala/impl/group1/ExternalStabilityTest.scala
Labels: Group 1, Group 2

#57 Maximum Nexting
  src/main/scala/impl/group1/MaximumNestingAnalysis.scala
  src/main/scala/impl/group1/MaximumNestingAnalysisApplication.scala
  src/test/resources/group1/MaximumNestingCompanion-1.0-SNAPSHOT.jar
  src/test/resources/group1/bytecode.txt
  src/test/resources/group1/start.java.txt
  src/test/scala/impl/group1/MaximumNestingAnalysisTest.scala
Labels: Group 1, Group 2

#58 Average nesting
  src/main/scala/impl/group1/AverageNestingAnalysis.scala
  src/main/scala/impl/group1/AverageNestingAnalysisApplication.scala
  src/test/resources/group1/11-commons-collections-3.2.2.jar
  src/test/scala/impl/group1/AverageNestingTest.scala
Labels: Group 1, Group 2

#66 Java sources of test jars
  src/test/resources/group2/LCOM_Test1-src/DritteKlasse.java
  src/test/resources/group2/LCOM_Test1-src/ErsteKlasse.java
  src/test/resources/group2/LCOM_Test1-src/FuenfteKlasse.java
  src/test/resources/group2/LCOM_Test1-src/SechsteKlasse.java
  src/test/resources/group2/LCOM_Test1-src/SiebteKlasse.java
  src/test/resources/group2/LCOM_Test1-src/VierteKlasse.java
  src/test/resources/group2/LCOM_Test1-src/ZweiteKlasse.java
  src/test/resources/group2/cref-src/A.java
  src/test/resources/group2/cref-src/B.java
  src/test/resources/group2/cref-src/C.java
  src/test/resources/group2/cref-src/Main.java
  src/test/resources/group2/fanin-src/A.java
  src/test/resources/group2/fanin-src/B.java
  src/test/resources/group2/fanin-src/Empty.java
  src/test/resources/group2/fanin-src/Main.java
  src/test/resources/group2/fanin.jar
  src/test/resources/group2/fanout-src/B.java
  src/test/resources/group2/fanout-src/Main.java
  src/test/resources/group2/fanout-src/Person.java
  src/test/scala/impl/group2/AVGFanInAnalysisTest.scala
  src/test/scala/impl/group2/FanInAnalysisTest.scala
Labels: Group 2

#67 Metric/evolution
  src/main/scala/impl/group1/EvolutionAnalysis.scala
  src/main/scala/impl/group1/EvolutionApplication.scala
  src/test/scala/impl/group1/EvolutionAnalysisOriginalTest.scala
  src/test/scala/impl/group1/EvolutionAnalysisTest.scala
Labels: enhancement, Group 1, Group 2

#68 Metric/depth of inheritance tree
  src/main/scala/impl/group1/DepthOfInheritanceTreeAnalysis.scala
  src/test/scala/impl/group1/DepthOfInheritanceTreeAnalysisTest.scala
Labels: Group 1, Group 2

#65 VDEC
  src/main/scala/impl/group5/NumberOfVariablesDeclaredAnalysis.scala
  src/test/resources/group5/vdec-test-1.0.jar
  src/test/resources/group5/vdec.zip
  src/test/resources/group5/vdecTest.zip
  src/test/scala/impl/group5/NumberOfVariablesDeclaredTest.scala
Labels: Group 1, Group 5

#69 Nesting: Referenzen hinzugefügt und Umbenenung der Metrik
  src/main/scala/impl/group1/AverageMaximumNestingAnalysis.scala
  src/main/scala/impl/group1/AverageMaximumNestingAnalysisApplication.scala
  src/main/scala/impl/group1/MaximumNestingAnalysis.scala
  src/test/scala/impl/group1/AverageMaximumNestingTest.scala
Labels: Group 1, Group 2

#70 Feature/wmc
  src/main/scala/impl/group4/MCCCAnalysis.scala
  src/main/scala/impl/group5/WeightedMethodsPerClassAnalysis.scala
  src/test/resources/group4/maven-jar-sample-1.0-SNAPSHOT.jar
  src/test/scala/impl/group5/WeightedMethodPerClassTest.scala
Labels: Group 1, Group 5

#71 Vdec
  src/main/scala/impl/group5/NumberOfVariablesDeclaredAnalysis.scala
Labels: Group 1, Group 5

#73 Feature/internal stability
  src/main/scala/impl/MultiFileAnalysisApplication.scala
  src/main/scala/impl/group5/InternalStabilityAnalysis.scala
  src/test/resources/group5/gson/gson-1.4.jar
  src/test/resources/group5/gson/gson-1.5.jar
  src/test/resources/group5/gson/gson-1.6.jar
  src/test/resources/group5/gson/gson-2.0.jar
  src/test/resources/group5/gson/gson-2.2.jar
  src/test/resources/group5/gson/gson-2.4.jar
  src/test/resources/group5/testJars/testInternalST-1.0.jar
  src/test/resources/group5/testJars/testInternalST-1.1.jar
  src/test/resources/group5/testJars/testInternalST-1.2.jar
  src/test/resources/group5/testJars/testInternalST-2.0.jar
  src/test/resources/group5/testJars/testInternalST-2.1.jar
  src/test/resources/group5/testJars/testInternalST-2.2.jar
  src/test/resources/group5/testJars/testInternalST-3.0.jar
  src/test/resources/group5/testJars/testInternalST-3.1.jar
  src/test/resources/group5/testJars/testInternalST-3.2.jar
  src/test/resources/group5/testJars/testfilesjarcode/code von 1 bis 1.2/pom.xml
  src/test/resources/group5/testJars/testfilesjarcode/code von 1 bis 1.2/src/main/java/fast/Bye.java
  src/test/resources/group5/testJars/testfilesjarcode/code von 1 bis 1.2/src/main/java/fast/helllo.java
  src/test/resources/group5/testJars/testfilesjarcode/code von 1 bis 1.2/src/main/java/work/work1.java
  src/test/resources/group5/testJars/testfilesjarcode/code von 1 bis 1.2/src/main/java/work/work2.java
  src/test/resources/group5/testJars/testfilesjarcode/code2.0/pom.xml
  src/test/resources/group5/testJars/testfilesjarcode/code2.0/src/main/java/fast/Bye.java
  src/test/resources/group5/testJars/testfilesjarcode/code2.0/src/main/java/fast/helllo.java
  src/test/resources/group5/testJars/testfilesjarcode/code2.0/src/main/java/home/homework.java
  src/test/resources/group5/testJars/testfilesjarcode/code2.0/src/main/java/work/work1.java
  src/test/resources/group5/testJars/testfilesjarcode/code2.0/src/main/java/work/work2.java
  src/test/resources/group5/testJars/testfilesjarcode/code2.1/pom.xml
  src/test/resources/group5/testJars/testfilesjarcode/code2.1/src/main/java/fast/Bye.java
  src/test/resources/group5/testJars/testfilesjarcode/code2.1/src/main/java/fast/helllo.java
  src/test/resources/group5/testJars/testfilesjarcode/code2.1/src/main/java/home/homework.java
  src/test/resources/group5/testJars/testfilesjarcode/code2.1/src/main/java/work/work1.java
  src/test/resources/group5/testJars/testfilesjarcode/code2.1/src/main/java/work/work2.java
  src/test/resources/group5/testJars/testfilesjarcode/code2.2/pom.xml
  src/test/resources/group5/testJars/testfilesjarcode/code2.2/src/main/java/fast/Bye.java
  src/test/resources/group5/testJars/testfilesjarcode/code2.2/src/main/java/fast/helllo.java
  src/test/resources/group5/testJars/testfilesjarcode/code2.2/src/main/java/home/homework.java
  src/test/resources/group5/testJars/testfilesjarcode/code2.2/src/main/java/work/work1.java
  src/test/resources/group5/testJars/testfilesjarcode/code2.2/src/main/java/work/work2.java
  src/test/resources/group5/testJars/testfilesjarcode/code3.0/pom.xml
  src/test/resources/group5/testJars/testfilesjarcode/code3.0/src/main/java/fast/Bye.java
  src/test/resources/group5/testJars/testfilesjarcode/code3.0/src/main/java/fast/helllo.java
  src/test/resources/group5/testJars/testfilesjarcode/code3.0/src/main/java/home/homework.java
  src/test/resources/group5/testJars/testfilesjarcode/code3.0/src/main/java/work/work1.java
  src/test/resources/group5/testJars/testfilesjarcode/code3.0/src/main/java/work/work2.java
  src/test/resources/group5/testJars/testfilesjarcode/code3.1/pom.xml
  src/test/resources/group5/testJars/testfilesjarcode/code3.1/src/main/java/fast/Bye.java
  src/test/resources/group5/testJars/testfilesjarcode/code3.1/src/main/java/fast/helllo.java
  src/test/resources/group5/testJars/testfilesjarcode/code3.1/src/main/java/home/homework.java
  src/test/resources/group5/testJars/testfilesjarcode/code3.1/src/main/java/work/work1.java
  src/test/resources/group5/testJars/testfilesjarcode/code3.1/src/main/java/work/work2.java
  src/test/resources/group5/testJars/testfilesjarcode/code3.2/pom.xml
  src/test/resources/group5/testJars/testfilesjarcode/code3.2/src/main/java/fast/Bye.java
  src/test/resources/group5/testJars/testfilesjarcode/code3.2/src/main/java/fast/helllo.java
  src/test/resources/group5/testJars/testfilesjarcode/code3.2/src/main/java/home/homework.java
  src/test/resources/group5/testJars/testfilesjarcode/code3.2/src/main/java/work/work1.java
  src/test/resources/group5/testJars/testfilesjarcode/code3.2/src/main/java/work/work2.java
  src/test/scala/impl/group5/InternalStabilityAnalysisTest.scala
Labels: Group 1, Group 5

#46 Metric TCC merge request
  src/main/scala/impl/group3/CBOAnalysis.scala
  src/main/scala/impl/group3/TCCAnalysis.scala
  src/test/scala/impl/group3/TCCAnalysisTest.scala
  src/test/scala/testCBO/CBOAnalysisTest.scala
Labels: Group 3, Group 4

#81 Metric/lloc
  src/main/scala/impl/group4/LLOCAnalysis.scala
  src/test/scala/impl/group4/LLOCAnalysisTest.scala
Labels: Group 4, Group 5

#86 Test scope added
  src/test/scala/impl/group1/DepthOfInheritanceTreeAnalysisTest.scala
  src/test/scala/impl/group1/EvolutionAnalysisOriginalTest.scala
  src/test/scala/impl/group1/EvolutionAnalysisTest.scala
  src/test/scala/impl/group1/NumberOfChildrenAnalysisTest.scala
  src/test/scala/impl/group3/TCCAnalysisTest.scala
  src/test/scala/impl/group5/InternalStabilityAnalysisTest.scala
  src/test/scala/impl/group5/NumberOfLoopsAnalysisTest.scala
  src/test/scala/impl/group5/VrefAnalysisTest.scala
  src/test/scala/impl/group5/WeightedMethodPerClassTest.scala
Labels: Group 1, Group 3, Group 5

#89 Tests überarbeitet
  src/test/scala/impl/group1/ExternalStabilityTest.scala
Labels: enhancement, Group 1, Group 2
